
body {
    background-image: url(IMAGENS/fundo\ \(2\).png);
    background-size: cover;
    color: #5eb6ff;
    margin: 0;
    font-family: Arial, sans-serif;
}

.topo-banner {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.banner-topo {
    width:100%;
    height: 340px;
    display: block;
}

.ANIMAIS {
    width: 40%; 
    height: auto;
    display: block;
    margin: 30px auto; 
   
}


.menu {
    background: #cc268e;
    padding: 10px;
}

.menu-titulo {
    text-align: center;
    color: #ff7f00;
    font-size: 32px;
}

.menu-lista {
    list-style: none;
    padding: 0;
    text-decoration: none;
}

.menu-lista li {
    margin: 15px 0;
}

.menu-lista a {
    background: #c7f806;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}

.menu-lista a:hover {
    background: #ff9100;
    transform: scale(1.05);
}


.home-box {
    margin: 50px auto;
    width: 80%;
    text-align: center;
 background-color: #cc268f;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 50px #ffd90030;
}
.hh2{
    color: #fff;
}
.img-home {
    width: 50%;
}


.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: #fff;
    border-radius: 20px;
    padding: 12px;
    text-align: center;
    box-shadow: 0 5px 12px #00000030;
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.07);
}

.card img {
    max-width: 100%; 
    height: 200px;   
    display: block;
    margin: 0 auto;
}

.formulario {
    background: #ffffffdd;
    width: 60%;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px #00000020;
}

.formulario input,
.formulario textarea,
.formulario select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 2px solid #ffb700;
}

button {
    background: #ff7f00;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background: #ff5400;
}

.atividade-box {
    width: 85%;
    margin: auto;
    margin-top: 30px;
    background: #ffffffcc;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 20px #00000020;
}


.subtitulo {
    color: #cc268e;
    font-size: 28px;
}


.atividade-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 15px;
    text-align: center;
}

.atividade img {
    width: 100%;
    border-radius: 15px;
    border: 3px solid #ff7f00;
}

.botao {
    background: #c7f806;
    display: block;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.botao:hover {
    background: #ff9100;
    transform: scale(1.05);
}


.dif-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.dif-img {
    width: 40%;
    border-radius: 20px;
    border: 4px solid #5eb6ff;
}


.tabela-atividade {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 25px;
}

.tabela-atividade td {
    border: 2px solid #cc268e;
    padding: 12px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: #ff7f00;
}

.musicas-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 30px;
}


.musica-card {
    background: #ffffffdd;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px #00000020;
    text-align: center;
    border: 4px solid #ff7f00;
    transition: 0.2s;
}

.musica-card:hover {
    transform: scale(1.04);
}


.musica-card h3 {
    color: #cc268e;
    font-size: 22px;
    margin-bottom: 10px;
}


.texto-centro {
    text-align: center;
    font-size: 20px;
    color: white;
}
.sobre-box {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    background: #ffffffd5;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 20px #00000030;
    text-align: center;
}


.img-sobre {
    width: 50%;
   
}
.sobre-texto1{
    font-size: 29px;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 0 10px;
}
.sobre-texto {
    font-size: 29px;
    color: #000000;
    margin-bottom: 20px;
    padding: 0 10px;
}


.subtitulo {
    color: #cc268e;
    margin-bottom: 15px;
    font-size: 40px;
}


.lista-sobre {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-sobre li {
    background: #c7f806;
    padding: 12px;
    margin: 10px auto;
    width: 70%;
    font-size: 25px;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 0 3px 10px #00000020;
    transition: 0.2s;
}

.lista-sobre li:hover {
    background: #ff9100;
    transform: scale(1.05);
}
.tabela-precos {
    width: 85%;
    margin: 30px auto;
    border-collapse: separate;
    border-spacing: 0;
    background: #ffffffcc;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 25px #00000025;
    font-size: 20px;
}


.tabela-precos th {
    background:rgb(255, 196, 0);
    color: white;
    padding: 18px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
}

.tabela-precos td {
    padding: 15px;
    text-align: center;
    background: #ffffff;
    color: #444;
    font-weight: bold;
    border-bottom: 3px solid #ffd56b;
}


.tabela-precos tr:last-child td {
    border-bottom: none;
}


.tabela-precos tr:hover td {
    background: #ffefd2;
    transform: scale(1.02);
    transition: 0.2s;
}
.tabela-precos tr:first-child th:first-child {
    border-top-left-radius: 25px;
}
.tabela-precos tr:first-child th:last-child {
    border-top-right-radius: 25px;
}
.botao-servico {
    display: inline-block;
    margin: 25px auto;
    padding: 15px 25px;
    background: rgb(255, 196, 0);
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 0 5px 15px #00000030;
    transition: 0.2s;
    text-align: center;
}


.botao-servico:hover {
    transform: scale(1.08);
    background:rgb(255, 196, 0); 
    box-shadow: 0 8px 20px #00000040;
}
.loja-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
    padding: 30px;
    width: 90%;
    margin: auto;
}


.produto-card {
    background: #ffffffdd;
    border-radius: 20px;
    padding: 18px;
    text-align: center;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.2);
    transition: 0.2s;
}

.produto-card:hover {
    transform: scale(1.05);
}


.produto-card img {
    width: 100%;
    height: 500px;
    object-fit: contain;
    border-radius: 15px;
    margin-bottom: 10px;
}

.produto-card h3 {
    font-size: 22px;
    color: #333;
    margin: 8px 0;
}

.preco {
    font-size: 20px;
    font-weight: bold;
    color: #ff7f00;
    margin: 6px 0 12px;
}

.botao-loja {
    background: linear-gradient(90deg, #ff7f00, #ffbb00);
    color: white;
    padding: 10px 18px;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    transition: 0.2s;
}

.botao-loja:hover {
    background: linear-gradient(90deg, #ff9500, #ffd000);
    transform: scale(1.08);
}


